h1 {
    text-align: center;
}


/* https://picocss.com/docs/nav#overflow の仕様により無駄な横須黒ロールが生まれるため、それをキャンセルする */
nav {
    overflow: hidden;
}

.center {
    text-align: center;
}

.logo {
    margin-left: 1vw;
    border-radius: 50%;
}

.swiper {
    width: 50vw;
    height: 40vh;
}